<section id="pre-footer">
    <div class="enterprise">
        <img src="assets/img/logo.PNG" alt="logo" />
        <p>C/ Alto de extremadura nº 55, Edificio 1, Piso 3</p>
        <p>28014 Madrid, España</p>
    </div>

    <div class="find-us-on">
        <h3>{{ "find_us.TITLE" | translate }}</h3>
        <ul>
            <li>
                <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i> {{ "find_us.FACEBOOK" | translate }}</a>
            </li>
            <li>
                <a href="https://x.com/"><i class="fa-brands fa-twitter"></i> {{ "find_us.TWITTER" | translate }}</a>
            </li>
            <li>
                <a href="https://www.instagram.com/"
                    ><i class="fa-brands fa-instagram"></i> {{ "find_us.INSTAGRAM" | translate }}</a
                >
            </li>
        </ul>
    </div>
</section>
